.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
build
coverage
*.iml
*.log
android/.gradle
android/app/debug
android/app/profile
android/app/release
android/local.properties
pubspec.lock
